@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: auto 0;
}
body .content {
  display: flexbox;
}
body .content code {
  font-family: monospace;
  color: crimson;
  background-color: #dbdbdb;
  padding: 2px;
  font-size: 105%;
  border-radius: 5px;
}
body p {
  font-family: "Oswald";
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
body .affected-h3 {
  display: table;
  max-width: 35ex;
  border-radius: 0 10px 10px 0;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Ubuntu";
  font-weight: 500;
  background-color: #050448;
  color: #dfdf1e;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
body .emphasize {
  background-color: #dfdf1e;
}

.exercise-title {
  border-top: 2.5rem double black;
  border-bottom: 2.5rem double black;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  padding: 0.2rem 3rem;
}
.exercise-title h2 {
  color: #dfdf1e;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 2.5rem;
}

.go-back {
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  font-family: "Oswald";
}
.go-back a {
  color: teal;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  font-size: 1.3rem;
}
.go-back a:hover {
  color: #dfdf1e;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: linear-gradient(90deg, #020024 0%, rgba(5, 4, 72, 0.8214636196) 0%, rgba(9, 9, 121, 0.8186624992) 35%, #00d4ff 100%);
  border-radius: 5px;
}
.go-back .space {
  margin-top: 2rem;
}

#demo {
  display: table;
  padding: 1rem;
  background-color: #504e64;
  color: #dfdf1e;
}

.quiz-body {
  position: relative;
  background-color: teal;
  height: 650px;
  padding: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-bottom: 2rem solid black;
  border-top: 2rem solid black;
}
.quiz-body h1 {
  color: indigo;
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.quiz-body .quiz-container {
  display: table;
  margin-top: 5rem;
  padding: 2rem 5rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: #272727 5px 5px 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.quiz-body #your-score {
  font-family: "Oswald";
  font-size: 1.7rem;
  color: #fde08f;
  text-align: center;
  transition: color 2s;
}
.quiz-body .center-button {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.quiz-body .center-button button {
  display: table;
  font-family: "Oswald";
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  background-color: orange;
  border: 1px solid orange;
  box-shadow: 2px 2px 5px black;
  transition: 1s;
}
.quiz-body .center-button button:hover {
  background-color: #a36e0a;
  border: 1px solid #a36e0a;
}

footer .bottom-footer {
  background-color: #050448;
  padding: 1.5rem 1rem;
}
footer p {
  font-family: "Oswald";
  color: #dfdf1e;
  font-size: 1.2rem;
  margin-left: 2rem;
}

/*# sourceMappingURL=exercise_1_styles.css.map */
