.weatherList {
    //display: flex;
    transition: flex-wrap 1s;
    li {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1fr;
        font-family: $primary-font;
        font-size: 2.5rem;
        background-color: $d-color-3;
        margin-bottom: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 20px;
        box-shadow: 3px 3px 10px gray;
    }
    .big-font {
        overflow: hidden;
        background-color: $l-color-4;
        font-family: $secondary-font;
        font-size: 1.8rem;
        padding: 2rem 3rem;
        margin-right: 1rem;
        grid-column: 1/2;
        border-radius: 15px;
        box-shadow: 0 5px 5px -2px gray; 
        animation: disappear 8s linear;
    }  
}

@keyframes disappear {
    0% {
        display: inline;
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@media (min-width:751px) {
    
    .weatherList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        li {
            display: grid;
            grid-template-columns: 1fr;
            margin-right: 1rem;
            text-align: center;
            //padding-bottom: 2rem;
            padding-top: 2rem;
            button {
                width: 2rem;
                height: 2rem;
                border: none;
                display: table;
                border-radius: 30px;
                margin-left: auto ;
                margin-top: -1.7rem;
                background-color: transparent;
                //background-color: white;
            }
            .delete {
                border: none;
                background-image: url("images-icons/icons8-cancel-48.svg");
                width: 2rem;
                height: 2rem;
                background-size: contain;
                display: inline-block;
                margin-left:1rem;
                transition: .5s;
               // margin-top: -1.3rem;
            }
            .delete:hover {
                transform: rotate(90deg);
                background-image: url("images-icons/icons8-cancel-48r.svg");
            }
        }
        li span:nth-child(1) {
            order:5;
        }
        li span:nth-child(2) {
            order: 4;
            img {
                //width: 6.5rem;
                //max-width: 100%;
                //height: auto;
                background-color:rgba(109, 121, 128, 0.432);
                border-radius: 60px;
            }
        }
        li span:nth-child(3) {
            order:2;
            font-size: 5rem;
            margin-top: -3rem;
        }
        li span:nth-child(4) {
            order:1;
        }
        li span:nth-child(5) {
            order: 3;
            margin-top: -3rem;
        }
        .small-font {
            font-size: 1.3rem;
        }
        span {
            white-space: nowrap;
        }
    }
}
.weatherList::-webkit-scrollbar {
    display: none;
}
//Bigger screens
@media 
only screen and (max-width: 751.10px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    
    .weatherList {
        li {
           font-size: 2.5rem;
            margin-right: 0;
            display: grid;
            grid-template-columns: 4fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            //grid-template-rows: .5fr .5fr;
            grid-row-gap: -40px;
            padding-top: 1.5rem;
            //padding-bottom: 1.5rem;
            span{
                margin-bottom: -1rem;
                white-space: nowrap;
            }
            span img {
                width: 5.5rem;
                margin-top: -.2rem;
                background-color:rgba(109, 121, 128, 0.432);
                border-radius: 60px;
            }
            button {
                width: 2.5rem;
                height: 2.5rem;
                border: none;
                display: table;
                border-radius: 30px;
                //margin-left: auto ;
                margin-top: .6rem;
                background-color: transparent;
                //background-color: white;
            }
            .delete {
                border: none;
                background-image: url("images-icons/icons8-cancel-48.svg");
                width: 2.5rem;
                height: 2.5rem;
                background-size: contain;
                display: inline-block;
                margin-left:-.4rem;
                transition: .5s;
               // margin-top: -1.3rem;
            }
            .delete:hover { 
                transform: rotate(90deg);
                background-image: url("images-icons/icons8-cancel-48r.svg");
            }
        }
        .item {
            padding-bottom: 32px;
        }
        .small-font {
            font-size: 1.2rem;
            margin-top: -2.5rem;
        }
    } 
}

@media screen and (max-width:980px) {
    .weatherList {
        grid-template-columns: repeat(3, 1fr);
    }
}

//make smaller screen versions


