@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Hanuman:wght@100;300;400;700;900&family=Livvic:wght@100;300;400;500;600;700;900&family=Manjari:wght@100;400;700&family=Mukta:wght@200;300;400;500;600;700;800&family=NTR&family=Secular+One&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
@import "variables/variables";
@import "list-style/list-style";
@import "forecast-list/forecast-list";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


* {
    box-sizing: border-box;
}

body {
    margin: auto 0;
    background-color: $l-color-1;
    //background: linear-gradient(180deg, $l-color-1, rgba(206, 206, 206, 0.664)) repeat-y bottom;
}

nav {
    background-color: $l-color-3;
    padding: 1.5rem 4rem;
    box-shadow: 0 7px 8px -2px rgba(206, 206, 206, 0.705);
    transition: padding 1s;
    .today-date {
        font-family: $secondary-font;
        font-size: 2.8rem;
        color: $l-color-4;
        font-weight: 600;
    }
    .metrics {
        padding: .5rem .7rem;
        margin-left:auto;
        color: $l-color-4;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $l-color-2;
        font-family: $primary-font;
        font-size: 1.1rem;
        outline: none;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 7px rgb(81, 125, 143);
        transition: background-color .2s, transform .5s;
    }
    .metrics:hover {
        background-color: rgba(180, 108, 20, 0.733);
    }
    .metrics:active {
        transform: scale(.97);
    }
}

header {
    padding: 1.5rem 0;
    h1 {
        color: $l-color-2;
        font-family: $header;
        font-size: 3.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    p {
        font-size: 1.5rem;
        font-family: $primary-font;
    }
}

main {
    margin: 0 4rem 2rem 4rem;
    padding-top: 2rem;
    transition: margin 1s;
    p {
        font-size: 1.5rem;
        font-family: $primary-font;
    }
    .error {
        display: table;
        // margin-bottom: -10rem;
        margin-top: 3rem;
        text-align: center;
        transition: all .5s;
    }
}

footer {
    input[type="text"] {
        transition: width .5s;
    }
}

// footer {
//     background-color: $l-color-2;
//     text-align: center;
//     width: 100%;
//     .list-footer {
//         padding: 3.5rem 2rem;
//         input[type="text"] {
//             position: inherit;
//             width: 450px;
//             padding: 1rem 1.5rem;
//             font-size: 1.3rem;
//             outline: none;
//             border-radius: 40px;
//             transition: all .5s;
//             font-family: $secondary-font;
//             font-weight: 600;
//         }
//         input:hover {
//             background-color: rgb(255, 254, 215);
//         }
//         input[type="text"]:focus {
//             background-color: rgb(203, 253, 255);
//             width: 500px;
//         }
//         button {
//             border-radius:100px;
//             border: none;
//             width: 3rem;
//             height: 3rem;
//            // font-size: 1.7rem;
//             //padding: .5rem 1rem;
//             margin-left: -4rem;
//             color: $l-color-1;
//             background-color: rgb(148, 148, 148);
//             transition: .5s;
//         }
//         button:hover{
//             background-color: #c9c89ca2;
//         }
//     }  
// }


.search { 
    background: url("images-icons/Search-icon.svg") no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    display: inline-block;
    text-align: center;
}

//Smaller Screens/ bigger
@media (min-width:751px) {
    nav {
        display: grid;
        grid-template-columns: 2fr auto auto;
        .next {
            display: flex;
        }
        .btn-left {
            margin-right: 1rem;
        }
    }
    footer {
        box-shadow: 0 -7px 8px -2px rgba(182, 182, 182, 0.705);
        background-color: $l-color-2;
        text-align: center;
        width: 100%;
        //  position: fixed;
        //  bottom: 0;
        .list-footer {
            padding: 3.5rem 2rem;
            
            input[type="text"] {
                position: inherit;
                width: 450px;
                padding: 1rem 1.5rem;
                font-size: 1.3rem;
                outline: none;
                border-radius: 40px;
                transition: all .5s;
                font-family: $secondary-font;
                font-weight: 600;
            }
            input:hover {
                background-color: rgb(255, 254, 215);
            }
            input[type="text"]:focus {
                background-color: rgb(203, 253, 255);
                width: 500px;
            }
            button {
                border-radius:100px;
                border: none;
                width: 3rem;
                height: 3rem;
                margin-left: -4rem;
                color: $l-color-1;
                background-color: rgb(148, 148, 148);
                //background-color: rgb(110, 191, 223);
                transition: .5s;
            }
            button:hover{
                //background-color: #c9c89ca2;
                background-color: rgb(98, 142, 160);
            }
        }  
    }
}

//Bigger screens/smaller
@media 
only screen and (max-width: 751.10px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
        .today-date {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        .metrics {
            display: table;
            margin: 0 auto;
        }
        .next {
            display: flex;
            margin-left: 4.5rem;
            margin-right: 4.5rem;
        }
        .btn-left {
            margin-right: 0;
        }
        
    }

    main {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        header {
            text-align: center;
        }
    }
    
    footer {
        box-shadow: 0 -7px 8px -2px rgba(206, 206, 206, 0.705);
        background-color: $l-color-2;
        text-align: center;
        width: 100%;
        //  position: fixed;
        //  bottom: 0;
        .list-footer {
            transition: 1s;
            padding: 3.5rem 1rem;
            input[type="text"] {
                position: inherit;
                width: 400px;
                padding: 1rem 1.5rem;
                font-size: 1.3rem;
                outline: none;
                border-radius: 40px;
                transition: all .5s;
                font-family: $secondary-font;
                font-weight: 600;
            }
            input:hover {
                background-color: rgb(255, 254, 215);
            }
            input[type="text"]:focus {
                background-color: rgb(203, 253, 255);
                width: 450px;
            }
            button {
                border-radius:100px;
                border: none;
                width: 3rem;
                height: 3rem;
                margin-left: -4rem;
                color: $l-color-1;
                background-color: rgb(148, 148, 148);
                transition: .5s;
            }
            button:hover{
                background-color: #c9c89ca2;
            }
        }
        
    }
}

@media screen and (max-width:1100px) {
    nav {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    main {
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding-right: .2rem;
        padding-left: .2rem;
    }
    main {
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }
    footer {
        box-shadow: 0 -7px 8px -2px rgba(206, 206, 206, 0.705);
        background-color: $l-color-2;
        text-align: center;
        width: 100%;
        //  position: fixed;
        //  bottom: 0;
        .list-footer {
            transition: 1s;
            padding: 3.5rem 1rem;
            input[type="text"] {
                position: inherit;
                width: 290px;
                padding: 1rem rem;
                font-size: 1rem;
                outline: none;
                border-radius: 40px;
                transition: all .5s;
                font-family: $secondary-font;
                font-weight: 600;
            }
            input[type="text"]:focus {
                background-color: rgb(203, 253, 255);
                width: 330px;
            }
            button {
                margin-top: .8rem;
                margin-left: -3.7rem;
            }
        }
    }
}

@media screen and (max-width: 330px) {
    nav {
        padding-right: 0rem;
        padding-left: 0rem;
        .metrics {
            font-size: 1rem;
        }
        .next {
            margin-right: .5rem;
            margin-left: .5rem;
        }
    }
    main {
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }
    footer {
        box-shadow: 0 -7px 8px -2px rgba(206, 206, 206, 0.705);
        background-color: $l-color-2;
        text-align: center;
        width: 100%;
        //  position: fixed;
        //  bottom: 0;
        .list-footer {
            transition: 1s;
            padding: 3.5rem 1rem;
            input[type="text"] {
                position: inherit;
                width: 250px;
                padding: 1rem .5rem;
                font-size: 1rem;
                outline: none;
                border-radius: 40px;
                transition: all .5s;
                font-family: $secondary-font;
                font-weight: 600;
            }
            input[type="text"]:focus {
                background-color: rgb(203, 253, 255);
                width: 270px;
            }
            button {
                margin-top: .8rem;
                margin-left: -3.7rem;
            }
        }
    }
    span.error {
        width: 17.59rem;
    }
}

//Make smaller screens


