@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: auto 0;
}
body .content {
  display: flexbox;
}
body p {
  font-family: "Oswald";
  font-size: 1.5rem;
}
body .affected-h3 {
  display: table;
  max-width: 35ex;
  border-radius: 0 10px 10px 0;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Ubuntu";
  font-weight: 500;
  background-color: #050448;
  color: #dfdf1e;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
body .emphasize {
  background-color: #dfdf1e;
}

.lesson-title {
  border-top: 2.5rem double black;
  border-bottom: 2.5rem double black;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  padding: 0.2rem 3rem;
}
.lesson-title h2 {
  color: #dfdf1e;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 2.5rem;
}

.tt-section {
  background-color: rgba(138, 223, 223, 0.438);
  margin: 1rem 3rem;
  padding: 1rem 4rem 4rem 4rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  overflow: auto;
}
.tt-section h3 {
  font: 1.8rem "Ubuntu";
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.tt-section .container {
  float: left;
}
.tt-section .container .demo-1 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
  color: #d8d8d8;
  padding: 0.7rem;
  font: 1rem "Oswald";
}
.tt-section .container .demo-1:hover {
  transform: skewX(-45deg);
}
.tt-section .container .demo-2 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-2:hover {
  transform: rotate(-90deg);
}
.tt-section .container .demo-3 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: all 0.5s;
}
.tt-section .container .demo-3:hover {
  transform: scale(0.5);
  background-color: purple;
}
.tt-section .container .demo-4 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-4:hover {
  transform: skewY(-45deg);
}
.tt-section .container .demo-5 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: all 0.5s;
}
.tt-section .container .demo-5:hover {
  transform: scale(1.5);
  background-color: #dfdf1e;
}
.tt-section .container .demo-6 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-6:hover {
  transform: rotateX(-90deg);
}
.tt-section .container .demo-7 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-7:hover {
  transform: rotateY(90deg);
}
.tt-section .container .demo-8 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-8:hover {
  transform: translateX(30px);
}
.tt-section .container .demo-9 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-9:hover {
  transform: translateY(30px);
}
.tt-section .container .demo-10 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-10:hover {
  transform: translate(30px, 30px);
}
.tt-section .container .demo-11 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  animation: infiniteRotater ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.tt-section .container .demo-11:hover {
  animation-play-state: running;
}
.tt-section .container .demo-12 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  transition: transform 0.5s;
}
.tt-section .container .demo-12 .circle {
  width: 25%;
  height: 25%;
  background-color: #dfdf1e;
  border-radius: 50%;
  animation: orbit 3s ease-in-out infinite;
}
.tt-section .container .demo-12 .circle:hover {
  animation-play-state: paused;
}
.tt-section .container .demo-13 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  animation: folder 3s ease-in infinite;
  animation-play-state: paused;
}
.tt-section .container .demo-13:hover {
  animation-play-state: running;
}
.tt-section .container .demo-14 {
  width: 8rem;
  height: 8rem;
  background-color: #050448;
  animation: angrySquare 2s ease-in infinite;
  animation-play-state: paused;
}
.tt-section .container .demo-14:hover {
  animation-play-state: running;
}
.tt-section .m-l {
  margin-left: 3.5rem;
}
.tt-section .block {
  display: block;
}
.tt-section .small {
  font-size: 1.1rem;
}

.paragraph p {
  margin-left: 3rem;
}

.biker {
  margin: 1rem 0 4rem 0;
  padding: 1.5rem 0 0 0;
  overflow: hidden;
  background-color: rgba(196, 196, 196, 0.637);
  border-bottom: 2rem solid black;
}

.biker:after {
  content: "";
  width: 90px;
  height: 92px;
  background-image: url(../exercise/images/bike_sprite.png);
  display: block;
  margin: auto;
  animation: 0.4s steps(4, end) infinite 50ms bike, 8s linear infinite 5s move;
}

@keyframes orbit {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300%, 0);
  }
  30% {
    transform: translate(300%, 0);
    background-color: aqua;
  }
  50% {
    transform: translate(300%, 300%);
  }
  55% {
    transform: translate(300%, 300%);
    background-color: purple;
  }
  75% {
    transform: translate(0%, 300%);
  }
  80% {
    transform: translate(0%, 300%);
    background-color: #050448;
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes folder {
  0% {
    border-radius: 0 0 0 0;
  }
  10% {
    border-radius: 75% 0 0 0;
  }
  25% {
    border-radius: 0 75% 0 0;
  }
  40% {
    border-radius: 0 0 75% 0;
    background-color: #dfdf1e;
  }
  55% {
    border-radius: 0 0 0 75%;
  }
  70% {
    border-radius: 0 0 0 0;
    transform: rotateX(0deg);
  }
  85% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes angrySquare {
  0% {
    background-color: #050448;
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    background-color: red;
    transform: rotate(0deg);
  }
  45% {
    background-color: red;
    transform: rotate(0deg);
  }
  50% {
    background-color: red;
    transform: rotate(-25deg);
  }
  55% {
    background-color: red;
    transform: rotate(25deg);
  }
  60% {
    background-color: red;
    transform: rotate(-25deg);
  }
  65% {
    background-color: red;
    transform: rotate(25deg);
  }
  70% {
    background-color: red;
    transform: rotate(-25deg);
  }
  80% {
    background-color: red;
    transform: rotate(0);
  }
  85% {
    background-color: red;
    transform: translateY(0px);
  }
  87% {
    background-color: red;
    transform: translateY(-20px);
  }
  89% {
    background-color: red;
    transform: skewX(10deg) translateY(0px);
  }
  92% {
    transform: translateY(-10px);
  }
  94% {
    transform: translateY(-40px);
  }
  96% {
    transform: translateY(-50px);
  }
  98% {
    transform: translateY(-10px);
  }
  100% {
    transform: skewX(-10deg) translate(0px);
  }
}
@keyframes infiniteRotater {
  0% {
    transform: rotate(360deg);
  }
  30% {
    background-color: purple;
    border-radius: 0 50% 0 50%;
    transform: rotate(0);
  }
  60% {
    background-color: purple;
    border-radius: 0 50% 0 50%;
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
    background-color: #050448;
    border-radius: 0 0 0 0;
  }
}
@keyframes bike {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -360px 0;
  }
}
@keyframes move {
  0% {
    transform: translateX(-750px);
  }
  100% {
    transform: translateX(750px);
  }
}
.CSVG-section {
  background-color: rgba(128, 0, 128, 0.219);
  margin: 1rem 3rem;
  padding: 1rem 4rem 4rem 4rem;
  border-radius: 10px;
  padding: 1rem 4rem 4rem 4rem;
  box-shadow: 2px 2px 5px #5f5f5f;
  overflow: auto;
}
.CSVG-section h3 {
  font: 1.8rem "Ubuntu";
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.CSVG-section .container {
  float: left;
}
.CSVG-section .container .myCanvas {
  border: dotted 2px black;
  background-color: rgba(255, 255, 255, 0.582);
}
.CSVG-section .m-l {
  margin-left: 3.5rem;
}
.CSVG-section .box-1 {
  border: dotted 2px black;
  width: 200px;
  height: 200px;
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, #ffeb01 0%, #ffd100 40%, #c80000 100%);
}
.CSVG-section .box {
  border: dotted 2px black;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.582);
}
.CSVG-section .box circle {
  fill: transparent;
  stroke: #2f3d4c;
  stroke-width: 10;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  animation: 1.4s ease-in-out infinite rotated;
}
.CSVG-section .box svg {
  animation: 2s linear infinite svg-ani;
}
.CSVG-section .box-3 {
  overflow: hidden;
  margin: 0 auto;
  border: dotted 2px black;
  width: 200px;
  height: 200px;
  background-color: #333;
}
.CSVG-section .box-3 .shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -250;
  stroke-width: 8px;
  stroke: #19f6e8;
}
.CSVG-section .box-3 .text {
  color: white;
  font-family: "Oswald";
  font-size: 22px;
  letter-spacing: 8px;
  position: relative;
  top: -118px;
  left: 55px;
}
.CSVG-section .box-3:hover .shape {
  animation: 0.5s draw linear forwards;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -250;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}
.chunk-2 a {
  color: teal;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.chunk-2 a:hover {
  color: #dfdf1e;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  background: linear-gradient(90deg, #020024 0%, rgba(5, 4, 72, 0.8214636196) 0%, rgba(9, 9, 121, 0.8186624992) 35%, #00d4ff 100%);
  border-radius: 10px;
}
.chunk-2 .move-left {
  margin: 2rem 3rem;
}

@keyframes rotated {
  0% {
    stroke-dasharray: 1, 1250;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 1190, 1250;
    stroke-dashoffset: -45;
  }
  100% {
    stroke-dasharray: 1190, 1250;
    stroke-dashoffset: -243;
  }
}
@keyframes svg-ani {
  100% {
    transform: rotate(360deg);
  }
}
.next-page a {
  color: teal;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.next-page a:hover {
  color: #dfdf1e;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  background: linear-gradient(90deg, #020024 0%, rgba(5, 4, 72, 0.8214636196) 0%, rgba(9, 9, 121, 0.8186624992) 35%, #00d4ff 100%);
  border-radius: 10px;
}

.go-back {
  margin-left: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-family: "Oswald";
}
.go-back a {
  color: teal;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  font-size: 1.3rem;
}
.go-back a:hover {
  color: #dfdf1e;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: linear-gradient(90deg, #020024 0%, rgba(5, 4, 72, 0.8214636196) 0%, rgba(9, 9, 121, 0.8186624992) 35%, #00d4ff 100%);
  border-radius: 5px;
}
.go-back .space {
  margin-top: 2rem;
}

footer .bottom-footer {
  background-color: #050448;
  padding: 1.5rem 1rem;
}
footer p {
  font-family: "Oswald";
  color: #dfdf1e;
  font-size: 1.2rem;
  margin-left: 2rem;
}

/*# sourceMappingURL=exercise.css.map */
