@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');


* {
    box-sizing: border-box;
}

$midnight-blue:#050448;
$font-color:#090979; 
//#191970;
$yellowish: #dfdf1e;
$header: "Ubuntu";
$header-size-2: 2.5rem;
$header-size-3: 1.5rem;
$pararaph-text: "Oswald";
$paragraph-size: 1.3rem;
body {
    margin: auto 0;
    .content {
        display: flexbox;
        //margin-right: 25%;
    }
    p {
        font-family: $pararaph-text;
        font-size: 1.5rem;
        margin-left: 3rem;
        margin-right: 12rem;
    }
    .affected-h3 {
        display: table;
        max-width: 35ex;
        border-radius: 0 10px 10px 0;
        width: 100%;
        font-size: $header-size-3;
        font-family: $header;
        font-weight: 500;
        background-color: $midnight-blue;
        color: $yellowish;
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .emphasize {
        background-color: $yellowish;
    }   
}

.lesson-title {
    border-top: 2.5rem double black;
    border-bottom: 2.5rem double black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: .2rem 3rem;
    h2 {
        color: $yellowish;
        font-family: $header;
        font-weight: 500;
        font-size: $header-size-2;  
    }
}

.forms-objects {
    margin-bottom: 4rem;
    li {
        margin-bottom: 10px;
        font-family: $pararaph-text;
        font-size: $paragraph-size;
        margin-left: 2rem;
        margin-right: 11rem;
    }
    .emphasize {
        background-color: $yellowish;
    }
    .h-container {
        display: table;
    }
    .h-size {
        list-style-type: none;
        padding: .5rem 1.5rem;
        background-color: rgb(221, 221, 221);
        margin-top: 1rem;
        margin-bottom: 1rem;
        li {
           font-family: 'Times New Roman', Times, serif; 
        }
    }
    code {
        font-family: monospace;
        color: crimson;
        background-color: #dbdbdb;
        padding: 2px;
        font-size: 105%;
        border-radius: 5px;
      }
}

code {
    font-family: monospace;
    color: crimson;
    background-color: #dbdbdb;
    padding: 2px;
    font-size: 105%;
    border-radius: 5px;
  }

.right-align {
    text-align: right;
    margin-right: 3rem;
    position: absolute;
    display: inline;
    right: 0;
}

.next-page {
    a {
        color: teal;
        transition: .2s ease-in-out;
        text-decoration: none;
    }
    a:hover {
        color: $yellowish;
        padding: .1rem .5rem .1rem 1rem;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,4,72,0.8214636196275386) 0%, rgba(9,9,121,0.8186624991793592) 35%, rgba(0,212,255,1) 100%);
        border-radius: 10px;
    }
}

.go-back {
    margin-left: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-family: $pararaph-text;

    a {
        color: teal;
        transition: .2s ease-in-out;
        text-decoration: none;
        font-size: 1.3rem;
    }
    a:hover {
        color: $yellowish;
        padding: 1rem .5rem 1rem .5rem;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,4,72,0.8214636196275386) 0%, rgba(9,9,121,0.8186624991793592) 35%, rgba(0,212,255,1) 100%);
        border-radius: 5px;
    }
    .space {
        margin-top: 2rem;
    }
}

.line-breaker {
    margin-right: 8rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

footer {
    .bottom-footer {
        background-color: $midnight-blue;
        padding: 1.5rem 1rem;
    }
    p {
        font-family: $pararaph-text;
        color: $yellowish;
        font-size: 1.2rem;
        margin-left: 2rem;
    }
}

.up {
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    line-height: 1.3rem;
    a {
        color: teal;
        transition: .2s ease-in-out;
        text-decoration: none;
    }
    a:hover {
        color: $yellowish;
        padding: .1rem .5rem .1rem 1rem;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,4,72,0.8214636196275386) 0%, rgba(9,9,121,0.8186624991793592) 35%, rgba(0,212,255,1) 100%);
        border-radius: 10px;
    }  
}