//Fonts used
$primary-font: "NTR"; 
$secondary-font: "Titillium Web";
$header: "Secular one";

//Color palette used for the app (Light Mode)
$l-color-1: #F1F0EA;
$l-color-2: orange;
$l-color-3: skyblue;
$l-color-4: white;

//Color palette used for the app (Dark Mode)
$d-color-1:black;
$d-color-2:rgb(70, 70, 70);
$d-color-3: white;

/*Heading: Mukta, Secular One, Livvic, Bakbak One
Regular paragraph: Titillium Web, Barlow, NTR, Hanuman, Manjari */



