@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: auto 0;
}
body .content {
  display: flexbox;
}
body p {
  font-family: "Oswald";
  font-size: 1.5rem;
}
body .affected-h3 {
  display: table;
  max-width: 35ex;
  border-radius: 0 10px 10px 0;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Ubuntu";
  font-weight: 500;
  background-color: #050448;
  color: #dfdf1e;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
body .emphasize {
  background-color: #dfdf1e;
}

.lesson-title {
  border-top: 2.5rem double black;
  border-bottom: 2.5rem double black;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  padding: 0.2rem 3rem;
}
.lesson-title h2 {
  color: #dfdf1e;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 2.5rem;
}

section {
  background-color: rgba(32, 178, 171, 0.205);
  padding: 2rem 3rem 4rem 3rem;
  margin: 0 3rem;
  overflow: none;
}

label {
  font-family: "Oswald";
  font-size: 1.5rem;
}
label input {
  display: block;
  margin-top: 2rem;
  transition: 1s;
}
label input[type=text] {
  padding: 0.7rem 0.5rem;
  border: 8px solid rgba(87, 0, 128, 0.425);
  border-radius: 5px;
  outline: none;
  width: 100%;
  transition: 1s;
  font-family: "Oswald";
  font-size: 1.2rem;
}

#square {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #d16;
  position: relative;
  top: 60px;
}

.m-l {
  float: left;
}

.m {
  margin-left: 4rem;
}

.center {
  margin: 0 auto;
}

.cnt {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.down {
  margin-top: 3rem;
}

.hoverBox {
  width: 100%;
  height: 90%;
  border: 5px groove purple;
  background-color: plum;
  text-align: center;
  margin-top: 0.5rem;
  padding: 4rem 2rem;
  font-family: "Oswald";
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.box {
  width: 250px;
  height: 250px;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}

.button {
  width: 120px;
  height: 120px;
  background-color: #050448;
  margin-left: auto;
  margin-right: auto;
  padding: 0.6rem;
  border-radius: 10px;
  margin-top: 10px;
}
.button .i-b {
  width: 100px;
  height: 100px;
  background-color: #dfdf1e;
  border-radius: 5px;
  padding: 1.2rem 0.5rem;
  text-align: center;
  font-family: "Oswald";
  font-size: 1.3rem;
  text-transform: uppercase;
}

.focusMe {
  display: table;
  margin-top: 3rem;
  width: 14%;
  padding: 0.5rem 0.5rem;
  outline: none;
  border: 2px solid #ccc;
  position: absolute;
  outline: none;
}

.focusMe:focus {
  color: white;
  animation: angrySquare 1.8s ease-in-out 1;
}

.focusMe[type=text] {
  font-family: "Oswald";
  font-size: 1.3rem;
  text-align: center;
}

.disappear {
  visibility: hidden;
}

.none {
  display: none;
}

.touchBox {
  width: 100%;
  height: 50%;
  border: 5px groove purple;
  background-color: #c5a0dd;
  text-align: center;
  margin-top: 1rem;
  padding: 1.8rem 2rem;
  font-family: "Oswald";
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}

@keyframes angrySquare {
  0% {
    background-color: #050448;
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  55% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  65% {
    transform: rotate(25deg);
  }
  70% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(0);
  }
  85% {
    transform: translateY(0px);
  }
  87% {
    transform: translateY(-20px);
  }
  89% {
    transform: skewX(10deg) translateY(0px);
  }
  92% {
    transform: translateY(-10px);
  }
  94% {
    transform: translateY(-40px);
  }
  96% {
    transform: translateY(-50px);
  }
  98% {
    transform: translateY(-10px);
  }
  100% {
    transform: skewX(-10deg) translate(0px);
  }
}
.btn {
  display: table;
  border: none;
  font-family: "Oswald";
  font-size: 1.2rem;
  background-color: #dfdf1e;
  color: #050448;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  transition: background-color 0.5s;
  margin: 1rem auto;
}

.btn:hover {
  background-color: #9e9e17;
}

.droptarget {
  width: 85%;
  height: 35px;
  margin: 15px;
  padding: 0.5rem 10px 0.5rem 10px;
  border: 2px solid #aaaaaa;
}

.small {
  font-size: 1rem;
  margin: 0;
}

#result {
  margin-left: 1rem;
  transition: color 0.5s;
}

p a {
  color: teal;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
p a:hover {
  color: #dfdf1e;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  background: linear-gradient(90deg, #020024 0%, rgba(5, 4, 72, 0.8214636196) 0%, rgba(9, 9, 121, 0.8186624992) 35%, #00d4ff 100%);
  border-radius: 10px;
}

.next-page a {
  color: teal;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.next-page a:hover {
  color: #dfdf1e;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  background: linear-gradient(90deg, #020024 0%, rgba(5, 4, 72, 0.8214636196) 0%, rgba(9, 9, 121, 0.8186624992) 35%, #00d4ff 100%);
  border-radius: 10px;
}

.go-back {
  margin-left: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-family: "Oswald";
}
.go-back a {
  color: teal;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  font-size: 1.3rem;
}
.go-back a:hover {
  color: #dfdf1e;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: linear-gradient(90deg, #020024 0%, rgba(5, 4, 72, 0.8214636196) 0%, rgba(9, 9, 121, 0.8186624992) 35%, #00d4ff 100%);
  border-radius: 5px;
}
.go-back .space {
  margin-top: 2rem;
}

.line-breaker {
  margin-right: 8rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

footer .bottom-footer {
  background-color: #050448;
  padding: 1.5rem 1rem;
}
footer p {
  font-family: "Oswald";
  color: #dfdf1e;
  font-size: 1.2rem;
  margin-left: 2rem;
}

/*# sourceMappingURL=exercise.css.map */
